@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('/project/fonts/raleway-black.woff2') format(woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('/project/fonts/raleway-black.woff2') format(woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
