@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin image-cover() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
