.main-article {
  @include image-cover;
  @include flex-center;
  height: 100vh;
  width: 100vw;

  flex-direction: column;
  position: relative;

  &__content {
    color: var(--color-text);
    max-width: calc(var(--index) * 30);
  }

  &__title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.2);
    letter-spacing: calc(var(--index) / 7.5);
    font-weight: 900;
  }

  &__paragraph {
    margin-top: calc(var(--index));
    letter-spacing: calc(var(--index) / 20.5);
    font-size: calc(var(--index) * 0.9);
    margin-top: calc(var(--index) / 1.15);
    opacity: 0.75;
  }
}

.copy {
  position: absolute;
  bottom: calc(var(--index) / 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 38);
}
